/* Developer: Mike Gabriel Ayson, IS117006, Spring 2023 */
.footer span {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
}
nav  {
    background-color: aqua;
}

footer span { 
    font-size: 1em;
}
.slideShow{
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    width: 50%;
    float: left; 
}
.w3-right{
    float: right;
}
.putLeft{
    float: left;
}

.col-3 p 
{
    text-align: center;
    display: block;
}
.swapButton{
    margin-left: auto;
    margin-right: auto; 
}
 
textarea { vertical-align: top; } /* found on stackoverflow */ 

.listImages{
    float: left;
}
ul li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #3066be
}
h6 {
    color: #6F73D2;
    font-size: 150%;
}
body {
    background-color: #AEECEF;
  }
